body {
    background-color: black;

}

main {
    display: flex;
    width: 100%; height: 100vh; align-items: center; justify-content: center;
}

div {
    background-color: rgb(23, 21, 21);
    width: 350px;height: 80vh ;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
.upper {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

div section img {
    width: 100px; height: 100px;
    border-radius: 50%; 
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    
}

h1 {
    color: white;
    margin-bottom: 7px;
    margin-top: 15px;
}

.state {
    color:  hsl(75, 94%, 57%); 
    margin-bottom: 40px;
    margin: 0;
}

.description {
    color:  hsl(0, 6%, 74%);
    margin-top: 22px;
}

.lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(41, 39, 39);
    display: inline-block;
    width: 270px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}